<a href="https://colab.research.google.com/github/Kashish-x1/100-days-of-ML/blob/main/day16%20-%20working-with-json-and-sql/working_with_json_and_sql_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.read_json('/content/test.json.zip')

         id                                        ingredients
0     18009  [baking powder, eggs, all-purpose flour, raisi...
1     28583  [sugar, egg yolks, corn starch, cream of tarta...
2     41580  [sausage links, fennel bulb, fronds, olive oil...
3     29752  [meat cuts, file powder, smoked sausage, okra,...
4     35687  [ground black pepper, salt, sausage casings, l...
...     ...                                                ...
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

[9944 rows x 2 columns]

# working with SQL

In [2]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 27.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247948 sha256=324f38ccdb555d38febbcec7955bc453aff62bf56c144be90477babc41cd29d1
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [3]:
import mysql.connector

In [9]:
import mysql.connector
from mysql.connector import Error

# Initialize conn to None
conn = None

try:
    # Establishing the connection
    conn = mysql.connector.connect(
        host='localhost',
        user='root',
        password='',
        database='world'
    )

    if conn.is_connected():
        print("Connected to MySQL database")

except Error as e:
    print(f"Error: {e}")

finally:
    # Check if conn is not None before closing the connection
    if conn is not None and conn.is_connected():
        conn.close()
        print("MySQL connection is closed")

Error: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)

In [4]:
conn =mysql.connector.connect(host='localhost',user = 'root',password = '',database = 'world')

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)

In [ ]:
df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)